{% extends 'base.html' %}

{% block content %}

    {% if not tourneys %}
    <h2 class="all-tourneys">Currently no events</h2>

    {% else %}
      <section>

        {% for tour in tourneys %}

        <div class="game">
            <div>
            <h3>{{ tour.title }}</h3>
            <h3>{{ tour.to_game }}</h3>
            <h3>{{ tour.start_date }}</h3>
            <h3>{{ tour.end_date }}</h3>
            <h3>{{ tour.prise }} €</h3>
            </div>

            <div class="data-buttons">
                <a href="{% url 'tourney-details' tour.pk %}" class="btn details-btn">More</a>
            </div>
        </div>
        {% endfor %}

        </section>
    {% endif %}
{% endblock %}