{% extends 'base.html' %}
{% block content %}

    <section id="game-details">
        <h1>Event Details</h1>
        <div class="info-section">
            <div class="game-header">

                <h1>{{ object.title }}</h1>

                <p><span class="type">{{ object.to_game }}</span></p>
                <p><span class="type">Starts: {{ object.start_date }}</span></p>

                <p><span class="type">Ends: {{ object.end_date }}</span></p>
                <p><span class="type">Hosts: {{ object.host }}</span></p>
                <p><span class="type">Reward: {{ object.prise }} €</span></p>
                <p><span class="type">Participants: {{ object.participants.count }}</span></p>
            </div>

            {% if request.user.is_authenticated %}
            <div class="buttons">
                <a href="{% url 'tourney-join' object.pk %}" class="button">Join Event</a>
                {% if request.user.is_staff %}
                <a href="{% url 'tourney-edit' object.pk %}" class="button">Edit</a>
                <a href="{% url 'tourney-delete' object.pk %}" class="button">Delete</a>
                {% endif %}
            </div>
            {% endif %}


        </div>
    </section>

{% endblock %}