{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}

    <div class="form-container">
            <h2>Log in</h2>

            <form method="post" action="{% url 'user-login' %}">

            {% csrf_token %}
            {{ form }}

            <input type="hidden" name="next" value="{{ next }}">
            <button class="btn-form" type="submit">Login</button>

            <span>New here?</span>

            <button class="btn-form" type="submit">
                <a href="{% url 'user-register' %}?next={{ next }}">Register</a>
            </button>

            </form>
        </div>

{% endblock %}