{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}

    <div class="formbox">
            <h1>Sit with us</h1>

            <form method="post" action="{% url 'user-register' %}">

            {% csrf_token %}

            {{ form.email.errors }}
            {{form.email|placeholder:'Email'}}

            {{ form.password1.errors }}
            {{form.password1|placeholder:'Password'}}

            {{ form.password2.errors }}
            {{form.password2|placeholder:'Repeat Password'}}

            <input type="hidden" name="next" value="{{ next }}">
            <button class="btnform" type="submit">Register</button>

            </form>
        </div>
{% endblock %}