{% extends 'base.html' %}

{%  block content %}

    <section id="user-details">
        <h2>Profile Details</h2>
        <div class="info-section">
            <div class="user-header">

                <h3>{{ object.nickname}}</h3>

                <p class="user-text">Email: {{ object.email }}</p>

                <p class="user-text">Age: {{ object.age }}</p>
                <p class="user-text">Member since: {{ object.date_joined }}</p>

{#                <p class="user-text">Games Reviewed: {{ all_games.count }}</p>#}

{#                <p class="user-text">Games Rated: {{ total_rating|floatformat:1 }}</p>#}

                <div class="buttons">
                    <a href="{% url 'user-edit' request.user.pk %}" class="button">Edit</a>
                    <a href="{% url 'user-delete' request.user.pk %}" class="button">Delete</a>
                </div>
            </div>
        </div>
    </section>

{%  endblock %}