@import "reset.css";
@import "base_styles.css";
@import "form_styles.css";
@import "card_styles.css";
@import "404_styles.css";


/*
colors = {
MidnightBlue: #191970,
SteelBlue: #4682B4,
DarkGreen:#006400,
DarkRed: #8B0000,
Gold: #FFD700,
DarkGold: #a17f1a,
Indigo: #4B0082,
}
*/