@import "typography.css";
@import "details.css";
@import "form_styles.css";
@import "welcome.css";
@import "navigation_styles.css";

/*
colors = {
MidnightBlue: #191970,
SteelBlue: #4682B4,
DarkGreen:#006400,
DarkRed: #8B0000,
Gold: #FFD700,
DarkGold: #a17f1a,
Indigo: #4B0082,
}
*/