{% extends 'base.html' %}
{% load static %}

{% block content %}

    <form class="searchbar" method="post">
    {% csrf_token %}
    {{ search_form }}
    <button>
        <img src="{% static 'images/magnifying-glass-solid.svg' %}" alt="search" height="18">
    </button>
    </form>

    {% if not games %}
    <h2 class="allgames">No Games Yet!</h2>
    {% else %}
      <section id="lounge-games">
        {% for game in games %}

        <article class="game">
            <div class="image-wrap">

                <img src="{{ game.image }}"
                     alt="game image">
            </div>

            <h3>{{ game.title }}</h3>

            <h3>{{ game.genre }}</h3>
            <h3>{{ game.developer }}</h3>
            {% if game.price == 0 %}
            <h3>FreeToPlay</h3>
            {% else %}
            <h3>{{ game.price }} €</h3>
            {% endif %}

            <div class="data-buttons">
                <a href="{% url 'game-details' game.pk %}" class="details-btn">More</a>
            </div>
        </article>
        {% endfor %}
        </section>
    {% endif %}
{% endblock %}