{% extends 'base.html' %}
{% block content %}

    <section id="game-details">
        <h2>Game Details</h2>
        <div class="info-section">
            <div class="game-info">

                <img class="game-img"
                     src="{{ object.image }}"
                     alt='game image'/>

                <h3>{{ object.title }}</h3>

                <p><span class="info-field">Category: {{ object.genre }}</span></p>
                <p><span class="info-field">Rating: {{ rating|floatformat:1 }} from {{ num_ratings }} users</span></p>

                <p><span class="info-field">Developer: {{ object.developer }}</span></p>
                <p><span class="info-field">Price: {{ object.price }} €</span></p>
            </div>

            {% if request.user.is_authenticated %}
            <div class="buttons">
                <a href="{% url 'rate-game' game_id=object.pk%}" class="button">Rate</a>
                <a href="{% url 'review-create' game_id=object.pk user_id=request.user.pk %}" class="button">Review</a>
                {% if request.user.is_staff %}
                <a href="{% url 'game-edit' object.pk %}" class="button">Edit</a>
                {% endif %}
                {% if request.user.is_superuser %}
                <a href="{% url 'game-delete' object.pk %}" class="button">Delete</a>
                {% endif %}

            </div>
            {% endif %}

        </div>
    </section>

    <section id="game-reviews">
        {% for review in reviews %}
            <div class="review-wrapper">
{#      truncatewords_html:50      #}
            <p>{{ review.text }}</p>
            <p>From: {{ review.from_user.nickname }}</p>
                {% if review.from_user.pk == request.user.pk %}
                    <div class="buttons">
            <a href="{% url 'review-edit' review.pk %}" class="button ed">Edit</a>
            <a href="{% url 'review-delete' review.pk %}" class="button">Delete</a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </section>

{% endblock %}